/* 자동으로 고유값이 되기 때문에 흔히 사용되는 단어를 클래스이름으로 마음대로 사용 가능 */

.wrapper {
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    // wrapper와 함께 적용 되었을 때만 
    &.inverted {
        color: black;
        background: white;
        border: 1px solid black;
    }
}

/* 글로벌 CSS를 작성하려면 */

:global .something {
    font-weight: 800;
    color: aqua;
}
